/* app/globals.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #000000;
    overflow-x: hidden;
  }
  
  /*header {
    background: #272727;
    padding: 1rem;
  }*/
  
  nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: whitesmoke;
  }
  
  main {
    padding: 2rem;
  }
  
  footer {
    background: #1d1d1d;
    color: white;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  div{
    color: #ddd;
  }

  div h1{
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bold;
  }

  div p{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
  }

  div a{
    padding: 20px;
    margin-top: 20px;
    font-family: 'Courier New', Courier;
    font-size: small;
  }

  .container{
    display: flex;
    justify-content: center;
  }
  
  img{
    border-radius: 50%;
  }

  