.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
    padding: 0.5rem;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    position: fixed; /* Make the navbar fixed */
    top: 0;
    width: 100%; /* Ensure the navbar spans the full width of the viewport */
    z-index: 1000;
  }
  
  .logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    padding-right: 2rem;
  }
  
  .navLinks li {
    padding-top: 0.5rem;
    margin-left: 1rem;
  }
  
  .navLinks a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  margin: 0 1rem;
  font-size: 1rem;
  }
  
  .navLinks a:hover {
    color: #ddd;
  }

  .active .navLinks {
    display: block;
  }

.button-3 {
  appearance: none;
  background-color: #9e0083;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #6d2f4f;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
  
/* Responsive styling for screens smaller than 769px */
@media (max-width: 768px) {
  .navLinks {
    display: none;
    flex-direction: column;
  }
  
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navLinks a{
      font-size: 0.875rem;
      margin: 0 0.5rem;
  }

  .navbar.active .navLinks {
    display: flex;
  }

  .toggleButton {
    display: inline-flex;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding-right: 3rem;
  }
}


@media (max-width: 500px) {
  .navLinks {
    display: none;
    flex-direction: column;
  }

  .navLinks a{
    font-size: 0.75rem;
    margin: 0 0.25rem;
  }
  
  .navbar {
    flex-direction: row;
    align-items: flex-start;
  }

  .navbar.active .navLinks {
    display: flex;
  }

  .toggleButton {
    display: inline-flex;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    padding-right: 2.5rem;
  }
}


/* Further responsive styling for screens smaller than 330px */
@media (max-width: 330px) {
  .navLinks {
    display: none;
    flex-direction: column;
  }
  
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar.active .navLinks {
    display: flex;
  }

  .toggleButton {
    display: block;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
  }
}

/* Styling for screens larger than 768px */
@media (min-width: 769px) {
  .toggleButton {
    display: none;
  }

  .logo a {
    font-size: 1.5rem;
  }
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #1d1d1d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown_content {
    display:block;
  }
  
  .border-1 {
    --bs-border-width: 1px;
  }
  
  .border-2 {
    --bs-border-width: 2px;
  }
  
  .border-3 {
    --bs-border-width: 3px;
  }
  
  .border-4 {
    --bs-border-width: 4px;
  }
  
  .border-5 {
    --bs-border-width: 5px;
  }
  
  .border-opacity-10 {
    --bs-border-opacity: 0.1;
  }
  
  .border-opacity-25 {
    --bs-border-opacity: 0.25;
  }
  
  .border-opacity-50 {
    --bs-border-opacity: 0.5;
  }
  
  .border-opacity-75 {
    --bs-border-opacity: 0.75;
  }
  
  .border-opacity-100 {
    --bs-border-opacity: 1;
  }
