.detailContainer{
    float: right;
    background-color: black;
    width: 45%;
    margin-top: 190px;
}

.imageContainer{
    width: 30%;
    left: 100;
    top: 90px;
    /* background-color: white; */
    position: absolute;
    text-align: center;
}

.tagContainer{
    text-align: center;
    margin: 20px;
  }

.songTitle{
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 1rem;
    display: block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: white;
}

.details{
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: white;
    display: block;
    font-weight: 450;
    font-size:auto;
}

.productImage {
    max-width: 100%;
    display: block;
    text-align: center;
    border-radius: 10px;
  }

.select{
    background-color: white;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: medium;
}

.addToCart{
    right: 0;
}

.button_34 {
    background: #9e0083;
    border-radius: 999px;
    box-shadow: #9e0083 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }

/* CSS */
.button-_31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button_31:hover,
.button_31:focus {
  opacity: .75;
}

.onepi {
    padding: 1rem !important;
  }
  
  .twopi {
    padding: 2rem !important;
  }
  
  .threepi {
    padding: 3rem !important;
  }
  
  .fourpi {
    padding: 4rem !important;
  }
  
  .zerop {
    padding: 0;
  }
  
  .onep {
    padding: 1rem;
  }
  
  .twop {
    padding: 2rem;
  }
  
  .threep {
    padding: 2rem;
  }
  
  .fourp {
    padding: 4rem;
  }
  
  .fivep {
    padding: 5rem;
  }
  
  .onepb {
    padding-bottom: 1rem;
  }
  
  .twopb {
    padding-bottom: 2rem;
  }
  
  .threepb {
    padding-bottom: 3rem;
  }
  
  .fourpb {
    padding-bottom: 4rem;
  }
  
  .fivepb {
    padding-bottom: 5rem;
  }
  
  .padding_top{
    padding-top: 6rem;
  }

    /* Media queries for responsiveness */
      
      @media (max-width: 768px) {
        .detailContainer{
            float: none;
            width: 90%;
            margin-top: 0;
            padding: 1rem;
            margin: auto;
        }
        
        .imageContainer{
            width: 60%;
            left: auto;
            top: 0px;
            /* background-color: white; */
            position: relative;
            text-align: center;
            margin: auto;
        }

        .productImage {
            max-width: 100%;
            display: block;
            text-align: center;
            border-radius: 10px;
          }
        
          .songTitle{
            text-align: center;
          }
          .details{
            text-align: center;
          }
          .addToCart{
            text-align: center;
          }
      }
      
      @media (max-width: 520px) {
        .songTitle{
            text-align: center;
            font-size: x-large;
        }
      }
      