.gg_play_button {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    color: black;
   }
   
   .gg_play_button::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid;
    top: 6px;
    left: 9px
   } 

   .onepi {
    padding: 1rem !important;
  }
  
  .twopi {
    padding: 2rem !important;
  }
  
  .threepi {
    padding: 3rem !important;
  }
  
  .fourpi {
    padding: 4rem !important;
  }
  
  .zerop {
    padding: 0;
  }
  
  .onep {
    padding: 1rem;
  }
  
  .twop {
    padding: 2rem;
  }
  
  .threep {
    padding: 2rem;
  }
  
  .fourp {
    padding: 4rem;
  }
  
  .fivep {
    padding: 5rem;
  }
  
  .onepb {
    padding-bottom: 1rem;
  }
  
  .twopb {
    padding-bottom: 2rem;
  }
  
  .threepb {
    padding-bottom: 3rem;
  }
  
  .fourpb {
    padding-bottom: 4rem;
  }
  
  .fivepb {
    padding-bottom: 5rem;
  }
  