@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(22,19,75);
    --background: radial-gradient(circle, rgb(46, 63, 145) 0%, rgb(105, 32, 112) 100%);
    --foreground: #ededed;
    --productCardColour: #121212;
    --userFormColor: #1c1c1c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  flex: 1;
}

.productCardBackground {
  background: var(--productCardColour);
}

.userFormBackground {
  background: var(--userFormColor);
}

tr {
  border-top: 1px solid grey;
  border-bottom: 1px solid gray;
}

td {
  text-align: center;
}
